# -----------------------------
# IDEs / Editors
# -----------------------------
# VS Code
.vscode/
.history/
*.code-workspace

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db
